html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    background: url("img/background.jpg");
}
li {
  list-style: none;  
}
a {
    text-decoration: none;
    color: white;
}

/* Navigateur */
nav {
    margin: 15px 15% 0 15%;
    z-index: 100;
}
ul {
    display: flex;    
    justify-content: space-evenly;
}
.Home {
    border-bottom: 2px solid white;
}
li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.aLi:hover {
    border-bottom: 2px solid white;
}
button {
    border-radius: 10px;
    border: none;
    background-color: rgb(150, 255, 164);
}

/*************** I am ... ***************/
section {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgR:hover {
    height: 160px;
    transition: 0.1s;
}

h1,
h3 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 1.7rem;
    font-weight: 600;
}
h3 {
    font-size: 1.2rem;
    font-weight: 300;
}
